<h1 class="white">{{creating ? 'Novo quizz' : 'Editar quizz'}}</h1>

<div class="card form" *ngIf="quizz">
  <div class="input">
    <label for="quizzTitle">Títuto</label>
    <input type="text" id="quizzTitle" placeholder="Título do Quizz" [(ngModel)]="quizz.title" required>
  </div>
  <div class="input">
    <label for="quizzDescription">Descrição</label>
    <textarea type="text" id="quizzDescription" placeholder="Insira uma breve descrição para chamar a atenção do jogador" [(ngModel)]="quizz.description" required rows="2"></textarea>
  </div>
  <ng-container *ngFor="let q of quizz.questions; let i = index">
    <hr>
    <div class="row center margin-top">
      <h4 class="blue">Pergunta</h4>
      <span class="spacer"></span>
      <button (click)="addBlankQuestion()" class="play margin-top">Adicionar uma pergunta</button>
      <button (click)="removeQuestion(i)" class="alt">Remover</button>
    </div>
    <div class="input">
      <label>Pergunta</label>
      <textarea type="text" placeholder="Insira a pergunta" [(ngModel)]="q.question" required rows="3"></textarea>
    </div>
    <div class="row">
      <div class="input">
        <label>Ordem</label>
        <input type="text" placeholder="Ordem da pergunta no Quizz" [(ngModel)]="q.order" required>
      </div>
      <div class="input">
        <label>Tempo limite</label>
        <input inputmode="numeric" pattern="[0-9]*" type="text" placeholder="Tempo limite para responder" [(ngModel)]="q.deadline" required>
      </div>
    </div>
    <div class="row center margin-top">
      <h5 class="grey">Respostas</h5>
      <span class="spacer"></span>
      <button (click)="addBlankAnswer(i)" class="play">Adicionar uma resposta</button>
    </div>
    <ng-container *ngFor="let a of q.answers; let j = index">
      <div class="row margin-top">
        <div class="input">
          <label>Resposta</label>
          <textarea type="text" placeholder="Resposta" [(ngModel)]="a.text" required rows="2"></textarea>
        </div>
        <div class="input">
          <label for="correct">Correta?</label>
          <input type="checkbox" id="correct" [(ngModel)]="a.correct">
        </div>
        <button (click)="removeAnswer(i, j)" class="alt">Remover resposta</button>
      </div>
    </ng-container>
  </ng-container>
</div>


<button (click)="goBack()" [disabled]="saving">Voltar</button>
<button (click)="save()" class="play" [disabled]="saving">{{saving ? 'Aguarde...' : 'Salvar'}}</button>
