/* You can add global styles to this file, and also import other style files */
@import './src/assets/variables.scss';
@import './src/assets/mixins.scss';

@font-face {
  @import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: map-get($colors, background);
  background-position: 50% 50%;
  background-size: cover;
  overflow-y: auto;
  max-height: 100vh;
  box-sizing: border-box;
}

.content {
  flex: 1 1 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 3rem 6rem;
}

.card {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms ease-out;
  border-radius: 0.2em;
  padding: 1em;
  display: flex;
  justify-content: flex-start;

  &:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  }

  .badge {
    font-size: 0.7em;
    padding: 0 1em;
    height: 3em;
    border-radius: 2em;
    min-width: 4em;
    background-color: map-get($colors, light-grey);
    color: map-get($colors, grey);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    color: map-get($colors, grey);

    h2, h3 {
      margin: 0;
    }
    h2 {
      font-size: 0.9em;
    }
    h3 {
      font-size: 0.8em;
      font-weight: normal;
    }
  }

  .image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &.play {
    flex-direction: column;

    .description {
      align-content: center;
      justify-content: center;
      text-align: center;
      margin: 1em 0;

      .result {
        font-size: 3em;

        .user {
          font-size: 3.2em;

          &.good {
            color: map-get($colors, green);
          }
          &.bad {
            color: map-get($colors, orange);
          }
        }
      }
    }

    .actions {
      display: flex;
      align-content: flex-start;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }

  &.question {
    .description {
      align-content: flex-start;
      justify-content: flex-start;
      text-align: left;
    }

    .image {
      margin-top: 0;
    }

    .answers {
      margin: 1em 0 2em 0;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          padding: 1em;
          background-color: white;
          @include transition(background-color 300ms ease-out);
          display: flex;
          align-items: flex-start;

          &:hover {
            background-color: map-get($colors, light-grey);
            cursor: pointer;
          }

          .radio {
            width: 1.2em;
            min-width: 1.2em;
            height: 1.2em;
            min-height: 1.2em;
            border-radius: 0.6em;
            border: 1px solid map-get($colors, grey);
            display: inline-block;
            margin-right: 1em;
            @include transition(background-color 300ms ease-out);
            background-color: white;

            &.selected {
              background-color: map-get($colors, grey);
              border-color: transparent;
            }
          }
        }
      }
    }
  }

  &.form {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;

    .input {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 1em;

      label, input:not([type=checkbox]), textarea {
        box-sizing: border-box;
        width: 100%;
      }
      label {
        font-weight: bold;
        font-size: 0.75em;
        color: map-get($colors, grey);
      }
      input:not([type=checkbox]),
      textarea {
        padding: 0.8em 1em;
        margin-bottom: 1em;
        border: 1px solid map-get($colors, grey);
        font-family: 'Raleway', sans-serif;
        border-radius: 0.2em;
        font-size: 1em;
      }
    }
  }
}

span.spacer {
  flex: 1 1 auto;
}

button {
  font-size: 0.75rem;
  border: none;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  @include transition(background-color 300ms ease-out);
  border-radius: 1.5em;
  height: 3em;
  min-width: 5em;
  font-weight: bolder;

  &:not(.play):not(.alt) {
    color: grey;
  }

  &:disabled {
    background: map-get($colors, grey) !important;
    color: darken(map-get($colors, grey), 50%) !important;
  }

  &:hover {
    background-color: grey;
    color: white !important;
    cursor: pointer;
  }

  &.play {
    color: white;
    @include transition(background 300ms ease-out);
    @include gradient(to right, $mainGradient);

    &:hover {
      @include gradient(to left, $mainGradient);
    }
  }

  &.alt {
    color: white;
    @include transition(background 300ms ease-out);
    @include gradient(to right, $altGradient);

    &:hover {
      @include gradient(to left, $altGradient);
    }
  }
}

.floating {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 99;

  button {
    border: 1px solid white;
    color: white !important;
    background: transparent;

    &:hover {
      background: white;
      color: map-get($colors, grey) !important;
    }
  }
}

.table {
  // width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    border-collapse: collapse;
    //table-layout: fixed;

    th, td {
      text-align: left;
      white-space: nowrap;
    }

    tbody>tr>*:nth-last-child(2)~* {
      width: 50%
    }

    tbody>tr>*:nth-last-child(3)~* {
      width: 33.3%
    }

    tbody>tr>*:nth-last-child(4)~* {
      width: 25%
    }
  }

  &.result {
    color: map-get($colors, grey);

    th {
      font-size: 0.8em;
    }

    th, td {
      padding: 0.5em 1em;
    }

    td {
      font-size: 0.9em;
    }
  }
}

.white {
  color: #fff;
}

.blue {
  color: map-get($colors, blue);
}

.grey {
  color: map-get($colors, grey);
}

.row {
  flex: 1 0 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  &.center {
    align-items: center;
  }
}

.margin-top {
  margin-top: 2em;
}

.notifications-wrapper {
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: auto;
  height: auto;

  .notification {
    display: block;
    position: relative;
    width: 300px;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 1em;

    button {
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      color: #fff;
      position: absolute;
      right: -0.5em;
      top: -0.5em;
    }
  }
}

@media all and (max-width: 800px) {
  .content {
    padding: 1rem 2rem;
  }
}
